<?xml version="1.0" encoding="UTF-8"?>

<odoo>
    <record id="res_config_settings_view_form" model="ir.ui.view">
        <field name="name">res.config.settings.view.form.</field>
        <field name="model">res.config.settings</field>
        <field name="priority" eval="25" />
        <field name="inherit_id" ref="account.res_config_settings_view_form" />
        <field name="arch" type="xml">
            <xpath expr="//div[@data-key='account']/div[2]" position="inside">
                <h2>Test</h2>
                <div class="row mt16 o_settings_container">
                    <div class="col-12 col-lg-6 o_setting_box" title="">
                        <div class="o_setting_right_pane">
                            <label for="name" />
                            <div class="text-muted">
                                Name:
                            </div>
                            <div class="content-group">
                                <div class="mt16">
                                    <field name="name"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </xpath>
        </field>
    </record>

    <record id="action_carpoint_config_settings" model="ir.actions.act_window">
        <field name="name">Settings</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.config.settings</field>
        <field name="view_id" ref="res_config_settings_view_form"/>
        <field name="view_mode">form</field>
        <field name="target">inline</field>
        <field name="context">{'module':'carpoint'}</field>
    </record>

</odoo>